@using System.Runtime.CompilerServices
<MudPaper Width="250px" Class="py-3" Style="@($"background-color: #0b0c10; color: #C5C6C7;")" Elevation="0">
     <MudNavMenu Bordered="true" Color="Color.Secondary">
         <MudNavLink Href="/scraper"><h6><b>WebScraper</b></h6></MudNavLink>
         <MudDivider Class="my-2"/>
         <MudNavGroup Title="Database" Icon="@Icons.Material.Filled.FormatListBulleted" Expanded="true">
             <MudNavLink Href="/websites" Icon="@Icons.Material.Filled.Web">Websites</MudNavLink>
             <MudNavLink Href="/elements" Icon="@Icons.Material.Filled.Grain">Elements</MudNavLink>
         </MudNavGroup>
         <MudNavLink Href="/config" Icon="@Icons.Material.Filled.EditNote">Configuration builder</MudNavLink>
     </MudNavMenu>
 </MudPaper>