@page "/config"
@using System.Reflection
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Components
@using MudBlazor.Utilities
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Schema
@using Newtonsoft.Json.Serialization
@using WebScraper.WebApp.Models
@using WebScraper.Json.Entities

@inject IJSRuntime JsRuntime

<style>
    form {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #424242;
    }

    .form-group .form-group-property {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 75px;
    }
    
    .form-group .form-group-property label {
            margin-top: 5px;
        }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
        text-align: center;
    }

    .btn-container button {
        margin: 0 5px;
    }
    
    .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .custom-label-container .mud-input-label {
        background-color: #f0f0f0;
    }
    
    .command-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    
    .drop {
        background-color: #4f5050;
    }
    
    .mud-command{
        background-color: #f0f0f0;
    }
    
    .property .mud-input-label {
        background-color: #f0f0f0;
        margin-bottom: 5px;
    }
</style>

@if (showAlert)
{
    <MudAlert Variant="Variant.Filled" Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center" ShowCloseIcon="true" CloseIconClicked="CloseMe">@alertMessage</MudAlert>
}

<EditForm EditContext="@editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudToolBar>
        <MudText Typo="Typo.h4">Configuration file builder</MudText>
        <MudSpacer />
        <div class="btn-container">
            <MudFileUpload T="IBrowserFile" FilesChanged="LoadConfig">
                <ButtonTemplate Context="fileContext">
                    <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" for="@fileContext" StartIcon="@Icons.Material.Filled.Upload">Upload config</MudButton>
                </ButtonTemplate>
            </MudFileUpload>
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="HandleValidSubmit">Save config</MudButton>
        </div>
    </MudToolBar>
    
    <MudItem>
        <div class="custom-label-container">
            <MudTextField Variant="Variant.Outlined" Label="Configuration file name (Optional)" LabelClass="custom-label" @bind-Value="@ConfigName"></MudTextField>
            <MudTextField Variant="Variant.Outlined" Class="mt-2" Label="URL" @bind-Value="@config.Url"></MudTextField>
            <MudCheckBox Label="Loop" Color="Color.Primary" @bind-Checked="@config.Loop"></MudCheckBox>
            <MudNumericField @bind-Value="@config.WaitTime" Label="Wait Time" Min="0" Variant="Variant.Outlined"/>
            <MudSelect Placeholder="Select driver..." Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" @bind-Value="@config.Driver">
                <MudSelectItem Value="@("Firefox")">Firefox</MudSelectItem>
                <MudSelectItem Value="@("Chrome")">Chrome</MudSelectItem>
                <MudSelectItem Value="@("Safari")">Safari</MudSelectItem>
            </MudSelect>
        </div>
    </MudItem>

    <MudItem>
        @if (commandFields.Count > 0)
        {
            <MudDropContainer T="CommandField" Items="@commandFields" @ref="_container" ItemsSelector="@((item, dropzone) => item.Selector == dropzone)" ItemDropped="ItemUpdated" Class="rounded d-flex flex-wrap flex-grow-1">
                <ChildContent>
                <MudPaper Class="ma-4 flex-grow-1 rounded-lg">
                    <MudList Clickable="true" Class="d-flex flex-column mud-height-full drop rounded-lg">
                        <MudDropZone T="CommandField" Identifier="1" Class="flex-grow-1 rounded-lg" AllowReorder="true"/>
                    </MudList>
                </MudPaper>
                </ChildContent>
                <ItemRenderer Context="command">
                    <MudPaper Elevation="3" Class="ml-3 mr-3 mb-3 mt-3 mud-command">
                        <div class="command-container">
                            <MudSelect T="string" Placeholder="Select command..." Class="ml-3 mb-3 mt-3" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Value="@command.Name" ValueChanged="value => SelectionChanged(value, command)">
                                @foreach (var cmd in GetCommands())
                                {
                                    <MudSelectItem Value="@cmd">@cmd</MudSelectItem>
                                }

                            </MudSelect>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="cmd => DeleteCommand(command)"></MudIconButton>
                        </div>
                        @{
                            FillProperties(command);
                        }
                        @foreach (var property in command.PropertyFields!)
                        {
                            <div class="property">
                                <MudTextField Class="ml-15 mr-15 property" Variant="Variant.Outlined" @bind-Value="@property.Value" Label="@property.Key"></MudTextField>
                            </div>
                        }
                    </MudPaper>
                </ItemRenderer>
            </MudDropContainer>
        }
    </MudItem>
    <div class="btn-add">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="align-center mt-3" OnClick="AddFormField">Add command</MudButton>
    </div>
    
</EditForm>

@code {
    private string? ConfigName { get; set; }
    private MudDropContainer<CommandField> _container = new ();
    private List<CommandField> commandFields = new();
    private Config config = new();
    private EditContext? editContext;
    private ValidationMessageStore? validationMessageStore;
    private int commandOrder = 1;
    private bool showAlert;
    private string? alertMessage;

    protected override void OnInitialized()
    {
        editContext = new EditContext(this);
        validationMessageStore = new ValidationMessageStore(editContext);
    }

    private void ItemUpdated(MudItemDropInfo<CommandField> dropItem)
    {
        dropItem.Item!.Selector = dropItem.DropzoneIdentifier;
        commandFields.UpdateOrder(dropItem, item => item.Order);
    }
    
    private void RefreshContainer()
    {
        StateHasChanged();
        _container.Refresh();
    }

    private void DeleteCommand(CommandField command)
    {
        commandFields.RemoveAll(cmd => cmd.Order == command.Order);
        RefreshContainer();
    }
    
    private void AddFormField()
    {
        commandFields.Add(new CommandField { Order = commandOrder, Name = string.Empty, Selector = "1", PropertyFields = new List<PropertyField>()});
        commandOrder++;
        RefreshContainer();
    }

    private static void FillProperties(CommandField command)
    {
        if (command.PropertyFields!.Count == 0)
        {
            foreach (var property in GetProperties(command.Name))
            {
                command.PropertyFields.Add( new PropertyField { Id = Guid.NewGuid().ToString(), Key = property.Name, Value = string.Empty });
            }
        }
    }

    private void SelectionChanged(string value, CommandField command)
    {
        command.Name = value;
        command.PropertyFields!.Clear();
        RefreshContainer();
    }

    private static List<string> GetCommands()
    {
        return CommandServices.GetCommandsNames();
    }

    private static IEnumerable<PropertyInfo> GetProperties(string? name)
    {
        return CommandServices.GetProperties(name);
    }

    private bool Validate(CommandField command, PropertyField property)
    {
        if (string.IsNullOrWhiteSpace(property.Value))
        {
            if (property.Key == "Time")
            {
                validationMessageStore!.Add(editContext!.Field(property.Id!), $@"Field value of property {property.Key} of command {command.Name} must be valid number");
            }
            else
            {
                validationMessageStore!.Add(editContext!.Field(property.Id!), $@"Field value of property {property.Key} of command {command.Name} cannot be empty");
            }
            editContext.NotifyValidationStateChanged();
            return false;
        }
        if (property.Key == "Time")
        {
            if (!int.TryParse(property.Value, out var value))
            {
                validationMessageStore!.Add(editContext!.Field(property.Id!), $@"Field value of property {property.Key} of command {command.Name} must be a number");
                editContext.NotifyValidationStateChanged();
                return false;
            }

            if (value < 0)
            {
                validationMessageStore!.Add(editContext!.Field(property.Id!), $@"Field value of property {property.Key} of command {command.Name} must be a positive number");
                editContext.NotifyValidationStateChanged();
                return false;
            }
            
        }else if(property.Key is "Path" or "Attribute")
        {
            if (!Regex.IsMatch(property.Value, @"^(/?/?[\w-]+(:?/[\w-]+)*)*(\[@?\w+(\s*=\s*('.*?'|"".+?""|\w+))?\])*$"))
            {
                validationMessageStore!.Add(editContext!.Field(property.Id!), $@"Field value of property {property.Key} of command {command.Name} is not valid XPath");
                editContext.NotifyValidationStateChanged();
                return false;
            }
            
        }
        return true;
    }

    private bool ValidateUrl(string? url)
    {
        if(string.IsNullOrWhiteSpace(config.Url))
        {
            config.Url = string.Empty;
            validationMessageStore!.Add(editContext!.Field(config.Url!), $@"URL field cannot be empty");
            editContext.NotifyValidationStateChanged();
            return false;
        }
        if (!Regex.IsMatch(url!, @"^(https?://)?(www\.)?((localhost)|([a-zA-Z0-9]+[.-])+[a-zA-Z]{2,6})(:\d{1,5})?(/.*)?$"))
        {
            validationMessageStore!.Add(editContext!.Field(config.Url!), $@"{config.Url} is not valid URL");
            editContext.NotifyValidationStateChanged();
            return false;
        }
        return true;
    }

    private void HandleValidSubmit()
    {
        validationMessageStore!.Clear();
        editContext!.NotifyValidationStateChanged();
    
        if (!ValidateUrl(config.Url!)) return;
    
        config.Commands = new List<CommandConfig>();
        foreach (var command in commandFields.OrderBy(o => o.Order))
        {
            if (command.Name == string.Empty) continue;
            config.Commands.Add(new CommandConfig() { Name = command.Name, Args = new Dictionary<string, object>()});
            foreach (var property in command.PropertyFields!)
            {
                if (!Validate(command, property))
                {
                    config.Commands.Clear();
                    return;
                }
                if (property.Key == "Time")
                {
                    int.TryParse(property.Value, out var value);
                    config.Commands.Last().Args!.Add(property.Key!, value);
                }
                else
                {
                    config.Commands.Last().Args!.Add(property.Key!, property.Value!);
                }
            }
        }
        DownloadFile();
    }

    private async void DownloadFile()
    {
        var serializerSettings = new JsonSerializerSettings()
        {
            ContractResolver = new CamelCasePropertyNamesContractResolver(),
            Formatting = Formatting.Indented
        };
        
        await JsRuntime.InvokeAsync<object>("saveFile", ConfigName is not (null or "") ? $"{ConfigName}.json" : "config.json", JsonConvert.SerializeObject(config, serializerSettings));
    }

    private void TransferData(Config newConfig)
    {
        config.Url = newConfig.Url;
        config.Driver = newConfig.Driver;
        config.Loop = newConfig.Loop;
        config.WaitTime = newConfig.WaitTime;
        commandFields.Clear();

        if (newConfig.Commands != null)
        {
            foreach (var command in newConfig.Commands)
            {
                commandFields.Add(new CommandField { Order = commandOrder, Name = command.Name, Selector = "1", PropertyFields = new List<PropertyField>()});
                commandOrder++;
                foreach (var property in command.Args!)
                {
                    commandFields.Last().PropertyFields!.Add(new PropertyField { Id = Guid.NewGuid().ToString(), Key = property.Key, Value = property.Value.ToString() });
                }
            }
        }
        RefreshContainer();
    }
    
    private void CloseMe()
    {
        showAlert = false;
    }
    
    private async Task LoadConfig(IBrowserFile file)
    {
        try
        {
            var fileStream = file.OpenReadStream();

            using var streamReader = new StreamReader(fileStream);
            var fileContent = await streamReader.ReadToEndAsync();
            var schema = await File.ReadAllTextAsync("../WebScraper/config.schema.json");
            
            var jsonSchema = JSchema.Parse(schema);
            var jsonConfig = JToken.Parse(fileContent);

            if (!jsonConfig.IsValid(jsonSchema))
            {
                alertMessage = "Uploaded config is not valid";
                showAlert = true;
                return;
            }
            
            var uploadedConfig = JsonConvert.DeserializeObject<Config>(fileContent);
            if (uploadedConfig != null)
            {
                TransferData(uploadedConfig);
            }
        }
        catch (Exception)
        {
            alertMessage = "Failed to upload config file";
            showAlert = true;
        }
    }
}